<p id="notice"><%= notice %></p>

<h1>GRAPH!!!</h1>

<div id="curve_chart" style="width: 900px; height: 500px"></div>

<h1>Listing Incomes</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Households</th>
      <th>Families</th>
      <th>Married-couples</th>
      <th>Nonfamily</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.subject %></td>
        <td><%= income.households %></td>
        <td><%= income.families %></td>
        <td><%= income.married-couples %></td>
        <td><%= income.nonfamily %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income', new_income_path %>

<script type="text/javascript"
      src="https://www.google.com/jsapi?autoload={
        'modules':[{
          'name':'visualization',
          'version':'1',
          'packages':['corechart']
        }]
      }"></script>

<script type="text/javascript">
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Year', '58102 Median Household Income', "58103 Median Household  Income", "58104 Median Household Income"],
      ['2011',  37904, ],
      ['2012',  38886, ],
      ['2013',  41737, ]
    ]);

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>
